@mixin fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.service {
    padding: 0px 15px;
}

.service-content {
    max-width: 600px;
    animation: fadeInOpacity 1s;
    text-align: center;
    margin: 2rem auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
}

.service-h1 {
    margin-bottom: 2rem;
    animation: fadeInOpacity 1s;
    background-color: #4EC5B4;
    color: #fff;
    padding: 0.3em 1em;
    border-radius: 1em;
}

.service-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.service-content h2 {
    color: #4EC5B4;
    margin-bottom: 1rem;
}

.service-content p {
    margin-bottom: 1rem;
}

.back-link {
    display: inline-block;
    margin-top: 2rem;
    background-color: #4EC5B4;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.7s ease;
}

@media (min-width: 1025px) {
    .back-link:hover {
        background-color: #2a796f;
        transition: 0.3s ease-in;
    }
}