@mixin fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.my-pets-item-details-h1 {
    margin-top: 3rem;
    animation: fadeInOpacity 1s;
    background-color: #4EC5B4;
    color: #fff;
    padding: 0.3em 1em;
    border-radius: 1em;
}

.my-pets-item-details {
    padding: 60px 20px;
    animation: fadeInOpacity 1s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.my-pets-item-details-content {
    max-width: 350px;
    animation: fadeInOpacity 1s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-pets-item-details-content-h1 {
    display: inline-block;
    animation: fadeInOpacity 1s;
    margin-bottom: 2rem;
    background-color: #4EC5B4;
    color: #fff;
    padding: 0.3em 1em;
    border-radius: 1em;
}

.my-pets-item-details-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.my-pets-item-details-content h2 {
    color: #4EC5B4;
    margin-bottom: 1rem;
}

.my-pets-item-details-content p {
    margin-bottom: 0.5rem;
}

.my-pets-item-details-edit-btn {
    margin-top: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
    background-color: rgb(225, 225, 0);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.7s ease;
}

.my-pets-item-details-delete-btn {
    margin-top: 1rem;
    display: inline-block;
    background-color: #ff4d4d;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.7s ease;
}

.my-pets-item-details-back-link {
    margin-top: 1rem;
    display: inline-block;
    background-color: #4EC5B4;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 0.5rem;
    transition: background-color 0.7s ease;
}

@media(min-width: 1025px) {
    .my-pets-item-details-delete-btn:hover {
        background-color: #ba3838;
        transition: 0.3s ease-in;
    }

    .my-pets-item-details-edit-btn:hover {
        background-color: rgb(190, 190, 0);
        transition: 0.3s ease-in;
    }

        .my-pets-item-details-back-link:hover {
        background-color: #2a796f;
        transition: 0.3s ease-in;
    }
}
