* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}