/* Header */

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(78, 197, 180);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
}

.navbar a,
.navbar-success a,
.navbar-success-staffMember a,
.navbar-success-superAdministrator a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar a::before,
.navbar-success a::before,
.navbar-success-staffMember a::before,
.navbar-success-superAdministrator a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media(min-width: 1025px) {
    .header:hover::after {
        left: 100%;
    }

    .navbar a:hover::before,
    .navbar-success a:hover::before,
    .navbar-success-staffMember a:hover::before,
    .navbar-success-superAdministrator a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .navbar a.active::before,
    .navbar-success a.active::before,
    .navbar-success-staffMember a.active::before,
    .navbar-success-superAdministrator a.active::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .header.active::after {
        left: 100%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .header {
        padding: 1.3rem 5%;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar,
    .navbar-success,
    .navbar-success-staffMember,
    .navbar-success-superAdministrator {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(78, 197, 180);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(78, 197, 180, .5);
        overflow: hidden;
        transition: height 0.3s ease;
    }

    /* Navbar not logged in users: */
    #check:checked~.navbar {
        height: 22rem;
    }

    /* For logged in users: */
    #check:checked~.navbar-success {
        height: 30rem;
    }

    /* For logged in staff members: */
    #check:checked~.navbar-success-staffMember {
        height: 32rem;
    }

    /* For logged in super administrators: */
    #check:checked~.navbar-success-superAdministrator {
        height: 34rem;
    }

    .navbar a,
    .navbar-success a,
    .navbar-success-staffMember a,
    .navbar-success-superAdministrator a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a,
    #check:checked~.navbar-success a,
    #check:checked~.navbar-success-staffMember a,
    #check:checked~.navbar-success-superAdministrator a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .navbar a.active,
    .navbar-success a.active,
    .navbar-success-staffMember a.active,
    .navbar-success-superAdministrator a.active {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 3px;
    }

    .header.active {
        left: 100%;
    }
}

/* Header */

/* Staff Area */

.learn-more-btn {
    margin-top: 0.5rem;
    display: inline-block;
    background-color: #4EC5B4;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.7s ease;
}

/* Staff Area */

/* Footer */

.footer {
    width: 100%;
    padding: 40px 0;
    background-color: #4EC5B4;
    margin-top: auto;
}

.footer .socials {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}

.footer .socials a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a {
    font-size: 1.15rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.footer ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #000;
}

@media(min-width: 1025px) {
    .footer .socials a:hover {
        color: #000;
        transition: 0.7s ease;
    }

    .footer a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .footer a.active::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .footer.active::after {
        left: 100%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .footer .socials a:hover {
        color: #000;
        transition: 0.7s ease;
    }

    .footer a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .footer a.active::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .footer.active::after {
        left: 100%;
    }
}

/* Footer */