@mixin fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.appointments-update-request {
    min-height: 100vh;
    padding: 60px 20px;
    width: 100%;
    background-image: url('/images/veterinary-hospital.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
}

.appointments-update-request::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}

.appointments-update-request-container {
    z-index: 2;
    text-align: start;
    background-color: rgba(78, 197, 180, 0.8);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    animation: fadeInOpacity 1s;
    width: 90%;
}

.appointments-update-request-container h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.appointments-update-request-form-group {
    margin-bottom: 20px;
}

.appointments-update-request-form-group select,
.appointments-update-request-form-group input {
    padding: 0.7rem;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.appointments-update-request-form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #fff;
}

.appointments-update-request-form-group input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.appointments-update-request-form-group input:focus {
    border-color: #000;
}

.appointments-update-request-btn {
    width: 100%;
    padding: 12px;
    background-color: #48d889;
    color: 4EC5B4;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appointments-update-request-cancel-btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error-text {
    color: #ff4d4d;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
}

.appointments-update-request-form-group input.error {
    border: 3px solid #ff4d4d;
}

.appointments-update-request-form-group input.success {
    border: 3px solid #3cb371;
}

@media(min-width: 1025px) {
    .appointments-update-request-btn:hover {
        background-color: #2f8a58;
        transition: 0.3s ease-in;
    }

    .appointments-update-request-cancel-btn:hover {
        background-color: #D3D3D3;
        transition: 0.3s ease-in;
    }
}
