@mixin fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.register {
    min-height: 100vh;
    width: 100%;
    background-image: url('/images/veterinary-hospital.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 60px 15px;
    box-sizing: border-box;
}

.register::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}

.register-container {
    z-index: 2;
    text-align: start;
    background-color: rgb(78, 197, 180, 0.8);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    animation: fadeInOpacity 1s;
    width: 90%;
}

.register-container h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.register-form-group {
    margin-bottom: 20px;
}

.register-form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #fff;
}

.register-form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.register-form-group input:focus {
    border-color: #000;
}

.error-text {
    color: #ff4d4d;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: 4EC5B4;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-bottom-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-bottom-text a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: bold;
}

.register-bottom-text a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.register-form-group input.error {
    border: 3px solid #ff4d4d;
}

.register-form-group input.success {
    border: 3px solid #3cb371;
}

@media(min-width: 1025px) {
    .register-btn:hover {
        background-color: #a8a8a8;
        transition: 0.3s ease-in;
    }

    .register-bottom-text a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}
